body,
html {
	height: 100%;
}

.german-bg {
	/* The image used */
	background-image: url("C:/Users/ST073494/Uni/DAW/DAW-Christmas/Christmas-App/frontend/src/assets/portofolio/bg1.jpg");
	/* Full height ASA ACOPERA TOATA PAGINA D: */
	min-height: 100vh;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
p {
	text-align: center;
	font-size: 120;
}

.button-delete {
	margin-top: 20px;
}
