<div class="modal" [class.is-active]=true>
    <div class="modal-background"></div>
    <div class="modal-content">
        <button class="delete" aria-label="close"></button>
      <!-- Any other Bulma elements you want -->
    <div class="tile is-child box">
      <p class="title">Christmas List</p>
      <nav class="panel">
        <a *ngFor="let list of lists" (click)="onClick(list)" class="panel-block" [class.is-active]="list === selectedList">
          <span class="panel-icon">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
          {{ list.name }}
        </a>
      <div *ngIf="addNew">
          <div>
            <div class="column">
                <div class="columns">
                    <div class="column is-one-fifth">
                        Name:
                    </div>
                    <div class="column">
                        <input type="text" class="input"  maxlength="20" (keyup)="onKey()" #newListName>
                    </div>
                </div>
            </div>
          </div>
        <div class="columns" >
          <div class="column">
              <a class="button is-success is-fullwidth" [attr.disabled]="saveNew ? true : null" (click)="onAddNewElementToList()" >
                  Save
              </a>
          </div>
          <div class="column">
              <a class="button is-danger is-fullwidth" (click)="toggleSection()">
                  Cancel
              </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="button-save">
      <a class="button is-success is-fullwidth" (click)="!addNew && toggleSection()" [attr.disabled]="addNew? true : null">
        Add your favorite toys
      </a>
    </div>
    <div class="button-delete">
      <a class="button is-success is-fullwidth" (click)="onDeleteList()">
        Delete
      </a>
    </div>
    <div class="close-button">
        <a class="button is-success is-fullwidth" (click)="closeModal()">Close</a>
    </div>
    </div>
</div>
<!-- <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button> -->
</div>
<!-- </div> -->