<div class ="main-page">
  <!-- <audio src="src/assets/song/Blue Christmas - Michael Buble.mp3" preload="auto"> -->
<!-- <audio controls>
  <source src="C:/Users/ST073494/Uni/DAW/DAW-Christmas/Christmas-App/frontend/src/assets/song/Blue Christmas - Michael Buble.mp3" type="audio/mpeg">
    <source src="C:/Users/ST073494/Uni/DAW/DAW-Christmas/Christmas-App/frontend/src/assets/song/Blue Christmas - Michael Buble.ogg" type="audio/ogg">
      Your browser does not support the audio element.
</audio> -->

<!--Animation-->
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
    ❄
  </div>
  <div class="snowflake">
    ❄
  </div>
</div>
<nav class="navbar is-transparent">
  

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-brand">
        <a class="navbar-item" href="/">Welcome</a>
        <a class="navbar-item" href="/german">Germany</a>
        <a class="navbar-item" href="/finnish">Finland</a>
        <a class="navbar-item" href="/romanian">Romania</a>
      </div>
    </div>
  </div>
</nav>
</div>
<router-outlet></router-outlet>

