<!-- List Elements Section -->
<nav class="panel">
    <p class="panel-heading has-text-weight-bold">
        <i class="fas fa-tasks"></i>
        {{ list.name }}
    </p>
    <a *ngFor="let element of list.listElements" class="panel-block" (click)="onClick(element)" [class.is-active]="element === selectedListElement">
        <span class="panel-icon">
            <i class="far fa-square" aria-hidden="true"></i>
        </span>
        {{ element.title }}
    </a>
</nav>
<!-- Add new List Elements Section -->
<div class="columns" *ngIf="addNew">
    <div class="column">
        <div class="columns">
            <div class="column is-one-fifth">
                Title:
            </div>
            <div class="column">
                <input type="text" class="input" (keyup)="onKey()" #newName>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="columns">
            <div class="column is-one-fifth">
                Body:
            </div>
            <div class="column">
                <input type="text" class="input" (keyup)="onKey()" #newBody>
            </div>
        </div>

    </div>
    <div class="column">
        <a class="button is-success is-fullwidth" [attr.disabled]="saveNew ? true : null" (click)="onAddNewElementToList()" >
            Save
        </a>
    </div>
    <div class="column">
        <a class="button is-danger is-fullwidth" (click)="toggleSection()">
            Cancel
        </a>
    </div>
</div>
<!-- Add new List Elements Button Section -->
<div class="columns">
    <div class="column">
        <a class="button is-success is-fullwidth"  (click)="!addNew && toggleSection()" [attr.disabled]="addNew? true : null">
            Add new element to list
        </a>
    </div>
    <ng-content></ng-content>
</div>

<div class="modal" *ngIf="selectedListElement != null" [class.is-active]="selectedListElement != null">
    <app-list-detail-modal (unselectListElement)='unselectCurrentElement($event)' [listElement]="selectedListElement"></app-list-detail-modal>
</div>