body,
html {
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("C:/Users/ST073494/Uni/DAW/DAW-Christmas/Christmas-App/frontend/src/assets/portofolio/welcome.jpeg");
	/* Full height ASA ACOPERA TOATA PAGINA D: */
	min-height: 100vh;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 1280px) {
	.inner {
		width: 65em;
	}
}

.inner {
	width: 60em;
}
h1 {
	font-size: 7em;
	line-height: 1.1;
	font-family: "Lobster", cursive;
	margin-bottom: .25em;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
	text-transform: none;
	text-align: center;
	font-style: italic;
}
