
<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">{{listElement.title}}</p>
        <button class="delete" aria-label="close" (click)="onClose()"></button>
    </header>
    <section class="modal-card-body">
        {{listElement.body}}
    </section>
    <footer class="modal-card-foot">
        <button class="button is-success">Mark as finished</button>
        <button class="button is-success">Delete this item</button>
    </footer>
</div>
